body {
  background: black;
  color: white;
  text-align: center;
  font-family: Arial;
}

#game, #winScreen {
  display: none;
}

#topbar {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 300px;
  margin: auto;
}

button {
  padding: 12px;
  background: navy;
  color: white;
  border-radius: 8px;
  border: none;
}

button:hover {
  background: blue;
}

.correct { background: green; }
.wrong { background: red; }

#winScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  color: gold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
